:root {
    --SteelBlue: #4682B4;
}

/*HOME*/
#title-index {
    background-color: var(--SteelBlue);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 20px;
}

#add-action {
    margin: 0 auto;
    text-align: center;
    width: 300px;
    border-radius: 4px;
    padding: 10px;
    background-color: var(--SteelBlue);
    color: #fff;  
}

#add-action p {
    font-size: 20px;
}

#msg {
    background-color: var(--SteelBlue);
    color: #fff;
    padding: 10px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto 5px;
    margin-top: 5px;
}

#info-text {
    text-align: center;
}

/*MODEL*/
.form-group label {
    display: block;
    font-size: 20px;
}

.form-group input, textarea {
    font-size: 20px;
    width: 90%;
}

#create-form button {
    border: none;
    padding: 5px;
    width: 60%;
    background-color: var(--SteelBlue);
    color: #fff;
    border-radius: 4px;
}

/*NOTES*/
#div-grid-notes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--SteelBlue);
    color: #fff;
    max-width: 1000px;
    margin: 10px auto 0 auto;
    padding: 5px;
    border-radius: 4px;
}

#note {
    background-color: rgba(000, 000, 000, 0.3);
    color: #fff;
    border-radius: 4px;
    padding: 2px;
    margin: 5px;
    max-width: 400px;
    text-align: center;
}

#note textarea {
    height: 200px;
    background-color: rgba(000, 000, 000, 0.0);
    color: #fff;
    border: none;
}

.actions {
    display: inline-block;
    text-align: center;
    width: 150px;
}


.edit-icon {
    font-size: 20px;
    color: #007bff;
}

.delete-form {
    display: inline-block;
}

.delete-btn {
    background-color: transparent;
    border: none;
    padding: 0;
}

.delete-icon {
    color: #BD2130;

}















